.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.php_cs.cache
/documentation
/docker



composer.lock
/storage/settings.json
/pdf
/public/pdf
/public/barcodes
.vscode/settings.json

/public/assets/js/app.js
public/assets/css/vendor.css
public/assets/js/vendor.js
storage/framework/laravel-excel/laravel-excel-LvJiYlyYLfBfi1opeBgx5aggUweMIbLM.html
public/nginx.htaccess
/sail
/stubs/
public/cdiscount/*.zip
public/edi/*
public/receipts/*
